/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}

/* Header */
header {
    background: linear-gradient(135deg, #192731, #1c6052);
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Hero */
.hero {
    margin-top: 50px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.section-title h2{
    font-size: 24px;
}

.section-title p{
    font-size: 16px;
    margin-top: 10px;
    color: #161a1d;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    color: #1c6052;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* Sections */
section {
    padding: 60px 20px;
    text-align: center;
}

.project-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.project-card {
    background: #f5f5f5;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.skill {
    background: #1c6052;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

/* Contact form */
form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input, form textarea {
    padding: 10px;
    border-radius: 16px;
    border: 1px solid #ccc;
    width: 100%;
}

form button {
    padding: 10px;
    border: none;
    background: #1c6052;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    max-width: 60px;
    align-items: center;
    margin-left: 45%;

}

/* Footer */
footer {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Responsive */
@media(max-width: 768px){
    nav ul {
        display: none;
        flex-direction: column;
        background: #1c6052;
        position: absolute;
        top: 70px;
        right: 0;
        width: 200px;
    }
    nav ul.active {
        display: flex;
    }
    nav .burger {
        display: block;
        cursor: pointer;
    }
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}
